extend layout

block content
    p
        strong New updates in #{repo}. You can get an early preview by  
            a(href=previewHostname) clicking here.
            if workItemId
                span You can learn more about it in 
                    a(href=workItemLink) here
    div(style="padding-left:4rem")        
        each val, key in commits
            if key  !== 'null' && val.items.length
                div 
                    strong 
                            h4(style=`color:${val.color}`)
                                span   #{val.name}
                    ul
                    each commit in val.items
                        li= commit.subject
                            if commit.body
                                div= commit.body
                            if commit.footer
                                p= commit.footer
    div
        strong  Other important links 
            ul(style="padding-left:4rem")
                li 
                    a(href=links.master) Latest Preview (Contains existings and upcoming stable features)
                li 
                    a(href=links.develop) Develop Preview (Contains unstable features)
                li
                    a(href=links.repository) Repository
                li 
                    a(href=links.pullRequest) Pull Request
                li
                    a(href=links.techBlog) Tech Blog
    p 
        h4(style='color:red') IMPORTANT:
            span  Developers please rebase your working branch with 
                b #{targetBranch}.  